@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Negar";
  src: url("../../public/fonts/Negar.TTF");
}

body {
  font-family: "Negar";
  overflow-x: hidden;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-initialized {
overflow: unset !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: 100%;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}


.swiper-pagination-bullet-active {
  background-color: #f43f5e !important;
}